<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopping bill project</title>
    <!--link the css files below-->
    <link rel="stylesheet" href="{% static 'app1/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'app1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app1/css/base.html' %}">

</head>
<body>
    <h5>welcome to shopping bill project</h5>




    <!-- link the js files below-->
    <script src="{% static 'app1/js/jquery.js' %}"></script>
    <script src="{% static 'app1/js/popper.js' %}"></script>
    <script src="{% static 'app1/js/fontawesome.min.js' %}"></script>
    <script src="{% static 'app1/js/bootstrap.min.js' %}"></script>

</body>
</html>