{% extends 'app1/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{product.product_image.url}}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>Product Title: {{product.title}}</h2> <!-- fetching title from db -->
   <hr>
   <p>{{product.description}}</p> <br> <!-- fetching title from db models.py -->
   <h4>Rs. {{product.discounted_price}} <small class="fw-light text-decoration-line-through">Rs. {{product.selling_price}} </small></h4> <br>
   <!-- to add the product to cart we should get the uniques id of each product so that we can add to cart-
    1.onclik on button should get id for that we will create form and hidden files pass data
    remove a tag below and make it button
    2.passing data(id) from hidden input to add to cart url
   -->
   {% if request.user.is_authenticated %}

   {% if item_already_in_cart %}
   <a href="{% url 'showcart' %}" class="btn btn-warning shadow px-5 ms-4 d-inline">Go to Cart</a>
   {% else %}
   <form action="/add-to-cart" class="d-inline">
    <input type="hidden" name="prod_id" value="{{product.id}}" class="prod_id">
    <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to cart</button>
    </form>
    {% endif %}
    {% endif %}
    <!-- for unauthenticated user/anonymous user create a anotehr button -->
    {% if not request.user.is_authenticated %}
    <form action="/add-to-cart" class="d-inline">
    <input type="hidden" name="prod_id" value="{{product.id}}" class="prod_id">
    <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to cart</button>
    </form>
    {% endif %}
   <!--<a href="{% url 'add-to-cart' %}" class="btn btn-primary shadow px-5 py-2">Add to Cart</a> -->
   <a href="{% url 'checkout' %}" class="btn btn-danger shadow px-5 py-2 ms-4">Buy Now</a>
   <h5 class="mt-5">Available Offers</h5>
   <ul>
    <li>Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit</li>
    <li>Special Price Get extra ₹3000 off (price inclusive of discount)</li>
    <li>No cost EMI ₹1,667/month. Standard EMI also available</li>
    <li>Partner Offer ₹2000 Flipkart Gift Card on Every 1000th Transaction with a new Visa Debit/Credit Card</li>
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}